.chosen-container {
    width: 100% !important;
}

.chosen-single, .chosen-choices {
    border: 0px !important;
}

td.tank.full {
    background-color: red;
}

td.brewhouse.full {
    background-color: blue;
}

td.empty {
}

a[data-bs-toggle=collapse] i.show {
    display: none;
}

a[data-bs-toggle=collapse].collapsed i.show {
    display: inherit;
}

a[data-bs-toggle=collapse] i.hide {
    display: inherit;
}

a[data-bs-toggle=collapse].collapsed i.hide {
    display: none;
}

.step.badge {
    margin-left: 20px;
}

.tasks .list-group-item {
    padding: 0px !important;
    border: 0px !important;
    background-color: transparent;
}

.card {
    margin-bottom: 20px;
}

table.calendar {
    background-color: #f0f0f0 !important;
}

table.calendar td {
    height: 80px;
}

table.calendar td, table.month th {
    width: 14%;
}

table.month td, table.month th {
    width: 3%;
}

th[scope=row] {
    white-space: nowrap;
}

.batch-marker {
    width: 30px;
    height: 30px;
}

.form-group.required label:after {
  content:" *";
  color:red;
}

table.schedule td.highlighted {
    background-color:#FF6961;
}

.btn-sm [data-lucide] {
  width: 1em;
  height: 1em;
  stroke-width: 4px;  
}

.lucide {
  stroke-width: 2px;
}

.badge a {
    color: white !important;
}
