td.tank.full {
    background-color: red;
}

td.brewhouse.full {
    background-color: blue;
}

td.empty {
}

a[data-toggle=collapse] i.show {
    display: none;
}

a[data-toggle=collapse].collapsed i.show {
    display: inherit;
}

a[data-toggle=collapse] i.hide {
    display: inherit;
}

a[data-toggle=collapse].collapsed i.hide {
    display: none;
}

.step.badge {
    margin-left: 20px;
}

.tasks .list-group-item {
    padding: 0px !important;
    border: 0px !important;
    background-color: transparent;
}

.card.tasks {
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

table.calendar td {
    height: 80px;
}

table.calendar td.today {
    border: 2px solid #900000 !important;
}

table.calendar td, th {
    width: 14%;
}

table.month td, th {
    width: 3%;
}

table.calendar {
    background-color: #e0e0e0;
}
