{% extends 'base.html' %}

{% load ninkasi_tags i18n %}

{% block content %}
{% with data=view.get_data %}
{% with month=view.month %}

<h1>{% trans 'Agenda' %}</h1>

<hr>

<h2 style="width: 400px;" class="mx-auto">
  <a class="btn btn-outline-secondary btn-sm rounded-circle"
     href=".?go={{ month.prev }}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Previous' %}">
    <span class="fas fa-caret-left" />
  </a>
  <span>{{ month.title }}</span>
  <a class="btn btn-outline-secondary btn-sm rounded-circle"
     href=".?go={{ month.next }}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Next' %}">
    <span class="fas fa-caret-right" />
  </a>
</h2>

<table class="table table-bordered table-sm calendar">
  <thead>
    <tr>
      <th>{% trans 'Monday' %}</th>
      <th>{% trans 'Tuesday' %}</th>
      <th>{% trans 'Wednessday' %}</th>
      <th>{% trans 'Thursday' %}</th>
      <th>{% trans 'Friday' %}</th>
      <th>{% trans 'Saturday' %}</th>
      <th>{% trans 'Sunday' %}</th>
    </tr>
  </thead>
  <tbody>
    {% with data=view.get_data %}

    {% for week in month.weeks %}
    <tr>
      {% for day in week %}
      <td {% if day == month.today.date %}class="today"{% endif %}>
	{% if day.month != month.month %}
	<span class="badge badge-pill badge-secondary">
	  {{ day.day }}
	</span>
	{% else %}
	<span class="badge badge-pill badge-primary">
	  {{ day.day }}
	</span>
	{% endif %}
	<ul>
	{% for task in data|get:day %}
	<li>{{ task }}</li>
	{% endfor %}
	</ul>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endwith %}
  </tbody>
</table>

{% endwith %}
{% endwith %}
{% endblock %}
