{% extends 'bootstrap4/bootstrap4.html' %}

{% load i18n bootstrap4 static %}

{% block bootstrap4_title %}Ninkasi - Beer QA{% endblock %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet"
      xxhref="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      href="/static/fontawesome/css/all.css"
      xxintegrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="{% static 'ninkasi.css' %}" type="text/css">
{% endblock %}

{% block bootstrap4_extra_script %}
<script type="text/javascript" src="{% static 'ninkasi.js' %}"></script>
{% endblock %}

{% block bootstrap4_content %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'home' %}">
    <i class="fas fa-beer-mug-empty"></i>
    Ninkasi
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
	  data-target="#navbarSupportedContent"
	  aria-controls="navbarSupportedContent" aria-expanded="false"
	  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown {% if view.view_name.0 == 'system' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
	   role="button" data-toggle="dropdown" aria-haspopup="true"
	   aria-expanded="false">
	  {% trans 'System' %}	  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	  <a class="dropdown-item" href="{% url 'list' model='tank' %}">
	    {% trans 'Tanks' %}
	  </a>
	  <a class="dropdown-item" href="{% url 'list' model='brewhouse' %}">
	    {% trans 'Brewhouses' %}
	  </a>	  	  
	  <a class="dropdown-item" href="{% url 'list' model='unit' %}">
	    {% trans 'Units' %}
	  </a>
	  <a class="dropdown-item" href="{% url 'list' model='quantity' %}">
	    {% trans 'Quantities' %}
	  </a>	  
	  <a class="dropdown-item" href="{% url 'list' model='metaphase' %}">
	    {% trans 'Phases' %}
	  </a>
	  <a class="dropdown-item" href="{% url 'list' model='category' %}">
	    {% trans 'Categories' %}
	  </a>
	  <a class="dropdown-item" href="{% url 'list' model='style' %}">
	    {% trans 'Styles' %}
	  </a>	  
        </div>
      </li>

      <li class="nav-item dropdown {% if view.view_name.0 == 'material' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
	   role="button" data-toggle="dropdown" aria-haspopup="true"
	  aria-expanded="false"> {% trans 'Materials' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	  <a class="dropdown-item" href="{% url 'list' model='material' %}">
	    {% trans 'General' %}
	  </a>
	  <a class="dropdown-item" href="{% url 'list' model='ingredient' %}">
	    {% trans 'Ingredients' %}
	  </a>
	  <a class="dropdown-item" href="{% url 'list' model='product' %}">
	    {% trans 'Products' %}
	  </a>	  
        </div>
      </li>

      <li class="nav-item dropdown {% if view.view_name.0 == 'tasks' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
	   role="button" data-toggle="dropdown" aria-haspopup="true"
	   aria-expanded="false">
	  {% trans 'Tasks' %}	  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	  <a class="dropdown-item"
	     href="{% url 'list' model='scheduledtask' %}">
	    {% trans 'Scheduled' %}
	  </a>
	  <a class="dropdown-item"
	     href="{% url 'list' model='milestonescheduledtask' %}">
	    {% trans 'Milestone scheduled' %}
	  </a>
	  <a class="dropdown-item"
	     href="{% url 'list' model='repeatedscheduledtask' %}">
	    {% trans 'Repeat scheduled' %}
	  </a>	  
        </div>	
      </li>      
      <li class="nav-item {% if view.view_name.0 == 'beer' %}active{% endif %}">
	<a class="nav-link" href="{% url 'list' model='beer' %}">
	  {% trans 'Beers' %}
	</a>
      </li>
      <li class="nav-item {% if view.view_name.0 == 'qualitycheck' %}active{% endif %}">
	<a class="nav-link" href="{% url 'list' model='qualitycheck' %}">
	  {% trans 'Quality checks' %}
	</a>
      </li>      
      <li class="nav-item {% if view.view_name.0 == 'recipe' %}active{% endif %}">
	<a class="nav-link" href="{% url 'list' model='recipe' %}">
	  {% trans 'Recipes' %}
	</a>
      </li>      
      
      <li class="nav-item {% if view.view_name.0 == 'batch' %}active{% endif %}">
	<a class="nav-link" href="{% url 'list' model='batch' %}">
	  {% trans 'Batches' %}
	</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">

      <li class="nav-item">
	  <a class="nav-link" href="{% url 'agenda' %}">
	    {% trans 'Agenda' %}
	  </a>
      </li>

      <li class="nav-item">
	  <a class="nav-link" href="{% url 'planner' %}">
	    {% trans 'Planner' %}
	  </a>
      </li>
      
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle"
	   data-toggle="dropdown">
	  {{ request.user }}
	  <span class="caret"></span>
	</a>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="{% url 'logout' %}">
	    {% trans 'Logout' %}
	  </a>
	</div>
      </li>
      {% else %}
      <li class="nav-item">
	<a class="nav-link" href="{% url 'login' %}">
	  {% trans 'Login' %}
	</a>
      </li>
      {% endif %}
  </div>
</nav>

<div class="container">
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

  {% block breadcrumbs %}{% endblock %}

  <h1>
    {% block title %}{% endblock %}
    <div role="toolbar" class="d-inline">
      {% block actions %}{% endblock %}
    </div>
    <div class="status float-right">
      {% block status %}{% endblock %}
    </div>
  </h1>

  <p class="text-info">
    {% block doc %}{% endblock %}
  </p>

  {% block warnings %}{% endblock %}
  
  {% block content %}{% endblock %}
</div>

{% endblock %}
