{% extends 'base.html' %}

{% load i18n bootstrap4 ninkasi_tags %}

{% block title %}
<h1>{% trans 'Batch measurements' %}</h1>
{% endblock %}

{% block content %}

{% bootstrap_messages %}


<h2>Measured</h2>

<ul>
{% for measurement in object.list_measurements %}
<li>{{ measurement }}</li>
{% endfor %}
</ul>


{% block form %}
{% for form in view.forms %}
<h2>{{ form.title }}</h2>
<form action="{% url 'inline_create' 'batch' object.id 'measurement' %}"
      method="POST" 
      enctype="multipart/form-data"
      class="form">

    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_form form %}
    
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% trans 'Save' %}
    </button>
    <a href="{{ view.cancel_url }}" class="btn btn-default">
      {% trans 'Cancel' %}
    </a>
    
    {% endbuttons %}
</form>
{% endfor %}
{% endblock form %}

{% endblock content %}
