{% extends 'batch_detail.html' %}

{% load i18n ninkasi_tags %}

{% block content %}

{% with active_tab='materials' %}
{% include 'snippets/batch_tabs.html' %}
{% endwith %}

<section class="materials">

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Material' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Unit' %}</th>
      <th>{% trans 'Brand' %}</th>
      <th>{% trans 'Batch nr' %}</th>      
    </tr>
  </thead>

  {% for material in view.list_materials %}
  <tr>
    <td>{{ material }}</td>
    <td>{{ material.amount }}</td>
    <td>{{ material.unit }}</td>
    <td>{{ material.brand }}</td>
    <td>{{ material.batchnr }}</td>
  </tr>
  {% endfor %}

</section>

{% endblock %}
