{% extends 'base_detail.html' %}

{% load i18n ninkasi_tags %}

{% block extra_actions %}
{% if user|push:'phase'|has_obj_perm:'add' %}
<span class="dropdown show">
  <a class="btn btn-sm btn-outline-success dropdown-toggle" href="#"
     role="button" id="phase-dropdown" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false" title="{% trans 'Add phase' %}">
    <span class="fas fa-plus" />
    <span class="fas fa-hourglass" />
  </a>
  <div class="dropdown-menu" aria-labelledby="phase-dropdown">
    {% for phase in view.phase_vocab %}
    <a class="dropdown-item"
       href="{% url 'inline_create' 'batch' object.pk 'batchphase' %}?phase={{ phase.id }}&save=1">
      {{ phase }}</a>
    {% endfor %}
  </div>
</span>
{% endif %}

{% if user|push:'brew'|has_model_perm:'add' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_brew' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add brew' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-beer-mug-empty" />
</a>
{% endif %}

<!--a class="btn btn-outline-success btn-sm"
   href="{% url 'transfer' view.ct_id object.id %}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Transfer' %}">
  <span class="fas fa-left-right" />
</a-->

{% endblock %}


{% block warnings %}
{% with status=object.get_status %}
{% if status %}
{% for mesg in status %}
<div class="alert alert-{{ mesg.0 }}" role="alert">
  {{ mesg.1 }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}


<dl class="row">
  <dt class="col-sm-3">Volume</dt>
  <dd class="col-sm-9">{{ object.volume }}</dd>
  <dt class="col-sm-3">Beer</dt>
  <dd class="col-sm-9">
    <a href="{{ object.beer|detail_url }}">{{ object.beer }}</a>
  </dd>  
  <dt class="col-sm-3">Processing time</dt>
  <dd class="col-sm-9">
    {{ object.beer.get_processing_time|floatformat:1 }} days
  </dd>
  <dt class="col-sm-3">{% trans 'Start date' %}</dt>
  <dd class="col-sm-9">{{ object.start_date|date:"d-m-Y" }}</dd>
  <dt class="col-sm-3">{% trans 'End date (Recipe)' %}</dt>
  <dd class="col-sm-9">{{ object.end_date_projected|date:"d-m-Y" }}</dd>
  <dt class="col-sm-3">{% trans 'End date (Batch steps)' %}</dt>
  <dd class="col-sm-9">{{ object.end_date|date:"d-m-Y" }}
    {% if object.end_date_planned != object.end_date %}
    <i class="text-warning" data-toggle="tooltip" data-placement="top"
       title="{% trans 'Batch end date does not follow recipe' %}">
      <span class="fas fa-triangle-exclamation">
      </span>
    </i>
    {% else %}
    {{ object.end_date_expected|date:"d-m-Y" }}
    {% endif %}
  </dd>
</dl>


<h2>{% icon 'brew' %} Brews</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Brew</th>
      <th>Date</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
  {% for brew in object.list_brews %}
  <tr>
    <td>
      <a href="{{ brew|detail_url }}">{{ brew }}</a>
    </td>
    <td>{{ brew.date|date:"d-m-Y H:i " }}</td>
    <td>{{ brew.volume }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


<!--h2>{% icon 'material' %} Materials</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Material' %}</th>
      <th>{% trans 'Unit' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Brand' %}</th>
      <th>{% trans 'Batch Nr.' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for material in object.list_materials %}
  <tr>
    <td><a href="{{ material.material|detail_url }}">{{ material.material }}</a></td>
    <td>{{ material.unit }}</td>
    <td>{{ material.amount }}</td>
    <td>{{ material.brand }}</td>
    <td>{{ material.batchnr }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table-->

  {% with dates=view.get_calendar %}
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
	<th scope="col" />
	{% for year in dates.years %}
	<th scope="col" colspan="{{ year.1 }}">{{ year.0 }}</th> 
	{% endfor %}
    </tr>          
    <tr>
      <th scope="col" />
      {% for month in dates.months %}
      <th scope="col" colspan="{{ month.1 }}">{{ month.0|month_name }}</th> 
      {% endfor %}
    </tr>     
    <tr>
      <th scope="col" />
      {% for day in dates.days %}
      <th scope="col">{{ day.day }}</th> 
      {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% with data=view.get_tank_data %}
      {% for tank, row in data.items %}
      <tr>
	<th scope="row">{{ tank }}</th>
	{% for day in row %}
	{% if day %}
	<td style="background-color: {{ view.get_color }}"></td>
	{% else %}
	<td></td>
	{% endif %}
	{% endfor %}
      </tr>
      {% endfor %}
      {% endwith %}
    </tbody>
  </table>
  {% endwith %}
  

<h2>{% trans 'Schema' %}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Phase' %}</th>
      <th>{% trans 'Duration (in minutes)' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for phase in object.list_phases %}
  <tr>
    <td>{{ phase }}</td>
    <td>{{ phase.get_duration }}</td>
  </tr>
  {% endfor %}
  <tr>
    <th colspan="2" scope="row">{% trans 'Total' %}</th>
    <td>{{ object.get_total_duration }} {% trans 'Days' %}</td>
  </tr>
  </tbody>
</table>

<!-- {% sublisting 'Transfer history' object.list_transfers 'transfer' %} -->

{% endblock content %}
