{% extends 'batch_detail.html' %}

{% load i18n bootstrap4 ninkasi_tags %}

{% block content %}

{% bootstrap_messages %}

{% with active_tab='measurements' %}
{% include 'snippets/batch_tabs.html' %}
{% endwith %}

<h2>{% trans 'Measurements' %}

  {% if user|push:'measurement'|has_model_perm:'add' %}
  <a class="btn btn-outline-success btn-sm"
     href="{% url 'inline_create' 'batch' object.id 'measurement' %}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Add measurement' %}">
    <span class="fas fa-plus" />
    <span class="fas fa-scale-balanced" />
  </a>
  {% endif %}

</h2>

{% listing '' object.list_measurements %}


{% block form %}
{% for form in view.formsxxx %}
<h2>{{ form.title }}</h2>
<form action="{% url 'inline_create' 'batch' object.id 'measurement' %}"
      method="POST" 
      enctype="multipart/form-data"
      class="form">

    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_form form %}
    
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% trans 'Save' %}
    </button>
    <a href="{{ view.cancel_url }}" class="btn btn-default">
      {% trans 'Cancel' %}
    </a>
    
    {% endbuttons %}
</form>
{% endfor %}
{% endblock form %}

{% endblock content %}
