{% extends 'batch_detail.html' %}

{% load i18n ninkasi_tags %}

{% block content %}

{% with active_tab='materials' %}
{% include 'snippets/batch_tabs.html' %}
{% endwith %}

<section class="materials">

  <h2>{% trans 'Materials' %}
    {% if user|push:'batchmaterial'|has_model_perm:'add' %}
    <a class="btn btn-outline-success btn-sm"
       href="{% url 'inline_create' 'batch' object.pk 'batchmaterial' %}"
       data-toggle="tooltip" data-placement="right"
       title="{% trans 'Add material' %}">
      <span data-lucide="plus"></span>
    </a>
    {% endif %}
  </h2>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Material' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Brand' %}</th>
      <th>{% trans 'Batch nr' %}</th>
      <th/>
    </tr>
  </thead>

  {% for material in object.list_batchmaterials %}
  <tr>
    <td>{{ material.material }}</td>
    <td>{{ material.amount }}{{ material.unit }}</td>
    <td>{{ material.brand }}</td>
    <td>{{ material.batchnr }}</td>
    <td>
      {% if material|ctname == 'batchmaterial' %}
      {% if user|push:material|has_obj_perm:'change' %}
      {% edit_action material %}
      {% endif %}
      {% if user|push:material|has_obj_perm:'delete' %}
      {% inline_delete_action material object %}
      {% endif %}      
      {% endif %}
  </tr>
  {% endfor %}

</section>

{% endblock %}
