{% extends 'base_detail.html' %}

{% load i18n ninkasi_tags %}

{% block extra_actions %}
{% if user|push:'phase'|has_obj_perm:'add' %}
<span class="dropdown show">
  <a class="btn btn-sm btn-outline-success dropdown-toggle" href="#"
     role="button" id="phase-dropdown" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false" title="{% trans 'Add phase' %}">
    <span class="fas fa-plus" />
    <span class="fas fa-hourglass" />
  </a>
  <div class="dropdown-menu" aria-labelledby="phase-dropdown">
    {% for phase in view.phase_vocab %}
    <a class="dropdown-item"
       href="{% url 'inline_create' 'batch' object.pk 'phase' %}?metaphase={{ phase.name }}">
      {{ phase }}</a>
    {% endfor %}
  </div>
</span>
{% endif %}

{% if user|push:'brew'|has_model_perm:'add' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_brew' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add brew' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-beer-mug-empty" />
</a>
{% endif %}

{% if user|push:object|has_obj_perm:'change' %}
<span class="dropdown show">
  <a class="btn btn-sm btn-outline-info dropdown-toggle" href="#"
     role="button" id="import-dropdown" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false"
     title="{% trans 'Import recipe' %}">
    <span class="fas fa-arrow-left" />
    <span class="fas fa-clipboard-list" />
  </a>
  <div class="dropdown-menu" aria-labelledby="phase-dropdown">
    {% for recipe in view.list_recipes %}
    <a class="dropdown-item"
       href="{% url 'batch_import_phases' object.pk %}?recipe={{ recipe.id }}">
      {{ recipe }}
    </a>
    {% endfor %}
  </div>
</span>
{% endif %}


<!--a class="btn btn-outline-success btn-sm"
   href="{% url 'transfer' view.ct_id object.id %}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Transfer' %}">
  <span class="fas fa-left-right" />
</a-->

{% endblock %}


{% block warnings %}
{% with status=object.get_status %}
{% if status %}
{% for mesg in status %}
<div class="alert alert-{{ mesg.0 }}" role="alert">
  {{ mesg.1 }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}


<dl class="row">
  <dt class="col-sm-3">Volume (planned)</dt>
  <dd class="col-sm-9">{{ object.volume_projected }}</dd>
  <dt class="col-sm-3">Beer</dt>
  <dd class="col-sm-9">
    <a href="{{ object.beer|detail_url }}">{{ object.beer }}</a>
  </dd>  
  <dt class="col-sm-3">Processing time</dt>
  <dd class="col-sm-9">
    {{ object.get_processing_time.days|floatformat:2 }} days
  </dd>
  <dt class="col-sm-3">{% trans 'Delivery date' %}</dt>
  <dd class="col-sm-9">{{ object.delivery_date|date:"d-m-Y" }}</dd>  
  <dt class="col-sm-3">{% trans 'Start date' %}</dt>
  <dd class="col-sm-9">{{ object.start_date|date:"d-m-Y" }}</dd>
</dl>


<h2>{% icon 'brew' %} Brews</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Brew</th>
      <th>Date</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
  {% for brew in object.list_brews %}
  <tr>
    <td>
      <a href="{{ brew|detail_url }}">{{ brew }}</a>
    </td>
    <td>{{ brew.date|date:"d-m-Y H:i " }}</td>
    <td>{{ brew.volume }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


<!--h2>{% icon 'material' %} Materials</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Material' %}</th>
      <th>{% trans 'Unit' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Brand' %}</th>
      <th>{% trans 'Batch Nr.' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for material in object.list_materials %}
  <tr>
    <td><a href="{{ material.material|detail_url }}">{{ material.material }}</a></td>
    <td>{{ material.unit }}</td>
    <td>{{ material.amount }}</td>
    <td>{{ material.brand }}</td>
    <td>{{ material.batchnr }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table-->
  
  {% with dates=view.get_calendar %}
  {% if dates %}
  <h2>Planning</h2>
  
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
	<th scope="col" />
	{% for year in dates.years %}
	<th scope="col" colspan="{{ year.1 }}">{{ year.0 }}</th> 
	{% endfor %}
    </tr>          
    <tr>
      <th scope="col" />
      {% for month in dates.months %}
      <th scope="col" colspan="{{ month.1 }}">{{ month.0|month_name }}</th> 
      {% endfor %}
    </tr>     
    <tr>
      <th scope="col" />
      {% for day in dates.days %}
      <th scope="col">{{ day.day }}</th> 
      {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% with data=view.get_tank_data %}
      {% for tank, row in data.items %}
      <tr>
	<th scope="row">{{ tank }}</th>
	{% for day in row %}
	{% if day %}
	{% if forloop.parentloop.last %}
	<td style="background-color: #ff0000"></td>	
	{% else %}
	<td style="background-color: {{ view.get_color }}"></td>
	{% endif %}
	{% else %}
	<td></td>
	{% endif %}
	{% endfor %}
      </tr>
      {% endfor %}
      {% endwith %}
    </tbody>
  </table>
  {% endif %}
  {% endwith %}
  
{% include 'snippets/schema.html' %}

{% endblock content %}
