{% extends 'base_detail.html' %}

{% load i18n ninkasi_tags %}

{% block extra_actions %}
{% if user|push:'sample'|has_obj_perm:'add' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_sample' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add sample' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-vial" />
</a>
{% endif %}

{% if user|push:'brew'|has_model_perm:'add' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_brew' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add brew' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-beer-mug-empty" />
</a>
{% endif %}

<a class="btn btn-outline-success btn-sm"
   href="{% url 'transfer' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Transfer' %}">
  <span class="fas fa-left-right" />
</a>


{% endblock %}

{% block content %}


<dl class="row">
  <dt class="col-sm-3">Volume</dt>
  <dd class="col-sm-9">{{ object.volume }}</dd>
  <dt class="col-sm-3">Delivery date</dt>
  <dd class="col-sm-9">{{ object.deliverydate|date:"d-m-Y H:i" }}</dd>
</dl>


<h2>Brews</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th />
      <th>Date</th>
      <th>Volume</th>      
    </tr>
  </thead>
  <tbody>
  {% for brew in object.list_brews %}  
  <tr>
    <td>
      <a class="btn btn-outline-secondary btn-sm rounded-circle"
	 href="{{ brew|detail_url }}"
	 data-toggle="tooltip"
	 title="{% trans 'View' %}">
	<span class="fas fa-eye" />
      </a>
    </td>
    <td>{{ brew.date|date:"d-m-Y H:i " }}</td>
    <td>{{ brew.volume }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


<h2>Assets</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Asset</th>
      <th>Unit</th>      
      <th>Amount</th>
      <th>Batch Nr.</th>      
    </tr>
  </thead>
  <tbody>
  {% for asset in object.list_assets %}  
  <tr>
    <td>{{ asset.asset }}</td>
    <td>{{ asset.unit }}</td>
    <td>{{ asset.amount }}</td>
    <td>{{ asset.batchnr }}</td>    
  </tr>
  {% endfor %}
  </tbody>
</table>


<h2>Transfer history</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th />
      <th>Tank</th>
      <th>Date</th>
      <th>To</th>      
    </tr>
  </thead>
  <tbody>
  {% for transfer in object.list_transfers %}  
  <tr>
    <td>
      <a class="btn btn-outline-secondary btn-sm rounded-circle"
	 href="{% url 'edit' 'transfer' transfer.id %}"
	 data-toggle="tooltip" data-placement="right" title="{% trans 'Edit' %}">
	<span class="fas fa-pen" />
      </a>
    </td>
    <td>{{ transfer.tank }}</td>
    <td>{{ transfer.date|date:"d-m-Y H:i " }}</td>
    <td>
      {{ transfer.end_date|date:"d-m-Y H:i " }}
    </td>    
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}
