{% extends 'base_detail.html' %}

{% load i18n ninkasi_tags %}

{% block extra_actions %}
{% if user|push:object|has_obj_perm:'manage' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_batch' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add batch' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-hashtag" />
</a>
{% endif %}
{% endblock %}

{% block content %}

<dl class="row">
  <dt class="col-sm-3">{% trans 'Style' %}</dt>
  <dd class="col-sm-9">{{ object.style }}</dd>
  
  <dt class="col-sm-3">{% trans 'Recipes' %}</dt>
  <dd>
    <ul>
      {% for recipe in object.recipes %}
      <li>{{ recipe }}</li>
      {% endfor %}
    </ul>
  </dd>
</dl>


{% if object.descr %}
<p>{{ object.descr }}</p>
{% endif %}

{% sublisting 'Batches' object.list_batches 'batch' %}

{% endblock content %}
