{% extends 'base_detail.html' %}

{% load i18n ninkasi_tags %}

{% block extra_actions %}

{% if user|push:'sample'|has_obj_perm:'add' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_sample' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add sample' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-vial" />
</a>
{% endif %}

{% if user|push:object|has_obj_perm:'change' %}
<span class="dropdown show">
  <a class="btn btn-sm btn-outline-info dropdown-toggle" href="#"
     role="button" id="import-dropdown" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false"
     title="{% trans 'Import recipe' %}">
    <span class="fas fa-arrow-left" />
    <span class="fas fa-clipboard-list" />
  </a>
  <div class="dropdown-menu" aria-labelledby="phase-dropdown">
    {% for recipe in object.list_recipes %}
    <a class="dropdown-item"
       href="{% url 'brew_import_phases' object.pk %}?recipe={{ recipe.id }}">
      {{ recipe }}
    </a>
    {% endfor %}
  </div>
</span>
{% endif %}

{% endblock %}

{% block content %}


<dl class="row">
  <dt class="col-sm-3">{% trans 'Date' %}</dt>
  <dd class="col-sm-9">{{ object.date }}</dd>
  <dt class="col-sm-3">{% trans 'Volume' %}</dt>
  <dd class="col-sm-9">{{ object.volume }}</dd>
  <dt class="col-sm-3">{% trans 'Brewhouse' %}</dt>
  <dd class="col-sm-9">
    <a href="object.brewhouse|detail_url">{{ object.brewhouse }}</a>
  </dd>
  <dt class="col-sm-3">{% trans 'Batch ' %}</dt>
  <dd class="col-sm-9">
    <a href="{{ object.batch|detail_url }}">{{ object.batch }}</a>
  </dd>
</dl>


<h2>Materials</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Material</th>
      <th>Unit</th>
      <th>Amount</th>
      <th>Batch Nr.</th>
    </tr>
  </thead>
  <tbody>
  {% for material in object.list_materials %}
  <tr>
    <td>{{ material.material }}</td>
    <td>{{ material.unit }}</td>
    <td>{{ material.amount }}</td>
    <td>{{ material.batchnr }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<!--h2>Racking history</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tank</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
  {% for tank in object.list_tanks %}
  <tr>
    <td>{{ tank.tank }}</td>
    <td>{{ tank.date_from|date:"d-m-Y H:i " }}</td>
    <td>{{ tank.date_to|date:"d-m-Y H:i " }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table-->

<h2>{% trans 'Schema' %}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Phase' %}</th>
      <th>{% trans 'Duration (in minutes)' %}</th>
      <th />
    </tr>
  </thead>
  {% for phase in object.list_phases %}
  <tr>
    <td>{{ phase }}</td>
    <td>{{ phase.get_duration }}</td>
    <td>
      <a data-toggle="collapse"
         href="#yieldSteps{{ phase.id }}" role="button" aria-expanded="false"
         aria-controls="yieldSteps{{ phase.id }}">
        {% trans 'Show steps' %}
      </a>
    </td>
  </tr>
  <tbody class="collapse" id="yieldSteps{{ phase.id }}">
    {% for step in phase.list_steps %}
    <tr>
      <th>&nbsp;&nbsp;{{ step|safe }}</th>
      <td>{{ step.total_duration }}
	{% if step.steplog %}
	<i class="text-warning" data-toggle="tooltip" data-placement="top"
	   title="{{ step.steplog }}">
	  <span class="fas fa-exclamation-triangle">
	  </span>
	</i>	
	{% endif %}
      </td>
      <td>
	<button type="button" class="btn btn-outline-primary btn-sm"
		{% if step.steplog %}
		title="{% trans 'Edit log' %}"
		{% else %}
		title="{% trans 'Add log' %}"
		{% endif %}
		data-toggle="modal" data-target="#{{ phase.id }}_log">
	  <span class="fas fa-plus" />
	  <span class="fas fa-book" />
	</button>
	
	<div class="modal fade" id="{{ phase.id }}_log" tabindex="-1"
	     role="dialog" aria-labelledby="{{ phase.id }}_log_label"
	     aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="{{ phase.id }}_log_label">Log</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		{% step_logform step %}
	      </div>
	    </div>
	  </div>
	</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endfor %}
  <tfoot>
    <tr>
      <th colspan="1" scope="row">{% trans 'Total' %}</th>
      <td>{{ object.get_total_duration }}</td>
    </tr>
  </tfoot>
</table>

  
{% endblock content %}
