{% extends 'brew_detail.html' %}

{% load i18n django_bootstrap5 ninkasi_tags %}

{% block content %}

{% bootstrap_messages %}

{% with active_tab='checks' %}
{% include 'snippets/brew_tabs.html' %}
{% endwith %}

<h2>{% trans 'Check targets' %}

  {% if user|push:'brewqualitycheck'|has_model_perm:'add' %}
  <a class="btn btn-outline-success btn-sm"
     href="{% url 'inline_create' 'brew' object.id 'brewqualitycheck' %}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Add measurement' %}">
    <span class="fas fa-plus" />
    <span class="fas fa-check-square" />
  </a>
  {% endif %}

</h2>

<form action=""
      method="POST"
      enctype="multipart/form-data"
      class="form">

  {% csrf_token %}

  <table class="table table-bordered table-sm">
    <thead>
      <tr>
	<th scope="col">
	  {% trans 'Check' %}
	</th>
	<th scope="col">
	  {% trans 'Value' %}
	</th>
	<th scope="col">
	  {% trans 'Time' %}
	</th>
      </tr>
    </thead>
    <tbody>
      {% for check in view.list_qcs %}
      <tr>
	<th scope="row">{{ check }}</th>
	<td>
	  <input class="form-control" type="text"
		 name="{{ check.id }}_value"
		 value="{{ check.actual }}"
		 aria-label="{% trans 'Actual value' %}">
	</td>
	<td>
	  <input class="form-control"
		 name="{{ check.id }}_timestamp"
		 value="{{ check.time|default_if_none:view.default_time|date:"Y-m-d H:i:s" }}"
		 type="datetime-local"/>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">
    {% trans 'Save' %}
  </button>

</form>

{% endblock content %}
