{% extends 'brew_detail.html' %}

{% load i18n django_bootstrap5 ninkasi_tags %}

{% block content %}

{% bootstrap_messages %}

{% with active_tab='checks' %}
{% include 'snippets/brew_tabs.html' %}
{% endwith %}

<h2>{% trans 'Check targets' %}

  {% if user|push:'brewqualitycheck'|has_model_perm:'add' %}
  <a class="btn btn-outline-success btn-sm"
     href="{% url 'inline_create' 'brew' object.id 'brewqualitycheck' %}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Add measurement' %}">
    <span data-lucide="plus"></span>
    <span data-lucide="clipboard-check"></span>
  </a>
  {% endif %}

</h2>

<form action=""
      method="POST"
      enctype="multipart/form-data"
      class="form">

  {% csrf_token %}

  <table class="table table-bordered table-sm">
    <tbody>
      {% for check in view.list_qcs %}
      <tr>
	<th scope="row"
	    class="{% if not check.is_ok %}
		   table-danger
		   {% else %}
		   table-success
		   {% endif %}">
	  <span data-lucide="clipboard-check"></span>{{ check }}
	  {% if check.description %}
	  <em>{{ check.description }}</em>
	  {% endif %}
	</th>
	<td>
	  <input class="form-control" type="text"
		 name="{{ check.id }}_value"
		 placeholder="{% trans 'Measured value' %}"
		 value="{{ check.actual|default_if_none:'' }}"
		 aria-label="{% trans 'Actual value' %}">
	</td>
	<td>
	  <input class="form-control"
		 name="{{ check.id }}_timestamp"
		 placeholder="{% trans 'Time of measurement' %}"
		 value="{{ check.time|default_if_none:view.default_time|date:"Y-m-d H:i" }}"
		 type="datetime-local"/>
	</td>
	<td>
	  <textarea class="form-control"
		    placeholder="{% trans 'Notes' %}"
		    name="{{ check.id }}_notes"
		    rows="3">{{ check.notes|default_if_none:'' }}</textarea>	  
	</td>	
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">
    {% trans 'Save' %}
  </button>

</form>

{% endblock content %}
