{% extends 'brew_detail.html' %}

{% load i18n bootstrap4 ninkasi_tags %}

{% block content %}

{% bootstrap_messages %}

{% with active_tab='measurements' %}
{% include 'snippets/brew_tabs.html' %}
{% endwith %}

{% for form in view.get_formset %}
<h2>{{ form.title }}</h2>
<form action="."
      method="POST" 
      enctype="multipart/form-data"
      class="form">

    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_form form %}
    
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% trans 'Save' %}
    </button>    
    {% endbuttons %}
</form>
{% endfor %}


<h2>{% trans 'Measurements' %}

  {% if user|push:'measurement'|has_model_perm:'add' %}
  <a class="btn btn-outline-success btn-sm"
     href="{% url 'inline_create' 'brew' object.id 'measurement' %}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Add measurement' %}">
    <span class="fas fa-plus" />
    <span class="fas fa-scale-balanced" />
  </a>
  {% endif %}

</h2>

{% listing '' object.list_measurements %}

{% endblock content %}
