{% extends 'base_detail.html' %}

{% load i18n django_bootstrap5 ninkasi_tags %}

{% block content %}

{% bootstrap_messages %}

{% with import_map=view.get_import_map %}

<h2>{% trans 'Import materials from recipe' %}</h2>

<form action=""
      method="POST"
      enctype="multipart/form-data"
      class="form">

    {% csrf_token %}

    <table class="table table-bordered table-sm">
      <thead>
	<tr>
	  <th scope="col">
	    {% trans 'From' %}
	  </th>
	  <th scope="col">
	    {% trans 'Category' %}
	  </th>	  
	  <th scope="col">
	    {% trans 'To' %}
	  </th>
	  <th scope="col">
	    {% trans 'or create new' %}
	  </th>
	</tr>
      </thead>
      <tbody>
	{% for key, val in import_map.items %}
	<tr>
	  <td>{{ key.name }}</td>
	  <td>{{ key.get_category_display }}</td>
	  <td>
	    <select name="{{ key.name }}_to" class="form-select"
		    aria-label="">
	      <option value="">--</option>
	      {% if key.category == 0 %}
	      {% for malt in view.list_to_malts %}
	      <option value="{{ malt.id }}"
		      {% if val == malt.id %}selected{% endif %}>
		{{ malt }}
	      </option>
	      {% endfor %}
	      {% elif key.category == 1 %}
	      {% for hop in view.list_to_hops %}
	      <option value="{{ hop.id }}"
		      {% if val == hop.id %}selected{% endif %}>
		{{ hop }}
	      </option>
	      {% endfor %}
	      {% elif key.category == 2 %}
	      {% for yeast in view.list_to_yeasts %}	      
	      <option value="{{ yeast.id }}"
		      {% if val == yeast.id %}selected{% endif %}>
		{{ yeast }}
	      </option>
	      {% endfor %}
	      {% endif %}
	      
	    </select>
	  </td>
	  <td>
	    <input class="form-control" type="text"
		   name="{{ key }}_new"
		   placeholder="{% trans 'Create new' %}"
		   aria-label="">
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">
      {% trans 'Save' %}
    </button>
</form>

{% endwith %}

{% endblock content %}
