{% extends 'base.html' %}

{% load i18n ninkasi_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block extra_css %}
<style>
  body {
      background-color: #b0b0b0;
  }
</style>
{% endblock %}

{% block content %}

{% with brews=view.get_current_brews %}
{% if brews %}
<section class="card brew">
  <div class="card-header">{% trans "Now brewing" %}</div>
  <div class="card-body">
  
    <ul class="list-group list-group-flush">
      {% for brew in brews %}
      <li class="list-group-item list-group-item-success">
	<a href="{{ brew|detail_url }}">{{ brew }}</a>
	
	<div class="float-end">
	  {{ brew.date|date:"l j b" }}
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% endwith %}

<div class="row">
  <div class="col-sm-4 mb-3 mb-sm-0">

    <section class="tasks card">
      <div class="card-header">{% trans "Today's tasks" %}</div>
      <div class="card-body">
	<ul class="list-group">
	  {% for task in view.tasks_today %}
	  <li class="list-group-item">
	    {% task task fmt='t' %}
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </section>
  </div>

  <div class="col-sm-4">
    <section class="tasks card border-danger">
      <div class="card-header">{% trans "Open tasks" %}</div>
      <div class="card-body">
	<ul class="list-group list-group-flush">
	  {% for task in view.tasks_open %}
	  <li class="list-group-item">
	    {% task task %}
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </section>
  </div>
  <div class="col-sm-4">
    
    <section class="card">
      <div class="card-header">{% trans "Planned brews" %}</div>
      <ul class="list-group list-group-flush">
	{% for brew in view.planned_brews %}
	<li class="list-group-item">
	  <a href="{{ brew|detail_url }}">{{ brew }}</a>

	  <div class="float-end">
	    {{ brew.date|date:"l j b" }}
	  </div>
	</li>
	{% endfor %}
      </ul>
    </section>
  </div>
</div>
  
<section class="week card">
  <div class="card-header">{% trans 'This week' %}</div>
  <div class="card-body">
    <p class="card-text">
      {% with week=view.get_current_week %}
      <table class="table table-bordered table-sm calendar">
	<thead>
	  <tr>
	    {% for day in week.days %}
	    <th {% if day == week.today %}class="table-primary"{% endif %}>
	      {{ day|date:"l j b" }}
	    </th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody>
	  {% with data=view.get_data %}
	  <tr>
	    {% for day in week.days %}
	    <td {% if day == week.today %}class="table-primary"{% endif %}>
	      {% for task in data|get:day %}
	      {% task task fmt='t' %}
	      {% endfor %}
	    </td>
	    {% endfor %}
	  </tr>
	  {% endwith %}
	</tbody>
      </table>
      {% endwith %}
    </p>
  </div>

</section>

{% endblock %}
