{% extends 'base.html' %}

{% block content %}

<h1>Ninkasi - Beer QA</h1>

<hr>

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="sections-tabs" role="tablist"
         aria-orientation="vertical">
      <a class="nav-link" id="tanks-tab" data-toggle="pill"
         href="#tanks" role="tab" aria-controls="tanks"
         aria-selected="false">Tanks</a>
      <a class="nav-link" id="batches-tab" data-toggle="pill"
         href="#batches" role="tab" aria-controls="batches"
         aria-selected="false">Batches</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="sections-content">
      <div class="tab-pane fade" id="tanks" role="tabpanel"
           aria-labelledby="tanks-tab">Tanks zijn de containers voor
           bier of wort. Een tank kan een fermentatietank zijn, maar
           ook een BBT of lagertank.
      </div>

      <div class="tab-pane fade" id="batches" role="tabpanel"
           aria-labelledby="batches-tab">

	Een batch is het resultaat van een brouwdag. Een batch is
	voorzien van een batchnummer, zodat de batch kan worden
	bijgehouden in alle stappen van de levenscyclus, van brouwen
	tot verkoop.

      </div>

      <div class="tab-pane fade active show" id="home" role="tabpanel"
           aria-labelledby="recipes-tab">

	Ninkasi is een data in- en uitvoer systeem voor bier
	gerelateerde data. De kern bestaat uit het kunnen invoeren van
	verschillende soorten eenheden, bijv. zuurgraad, soortelijk
	gewicht, etc. per batch. Ook kan worden aangegeven in welke
	toestand een batch zich bevindt in termen van tanks.

	Van de ingevoerde data kan een CSV dump worden gemaakt, om met
	behulp van bijvoorbeeld 'R', de data te kunnen duiden.

      </div>

    </div>
  </div>
</div>

{% endblock %}
