{% extends 'base.html' %}

{% load ninkasi_tags i18n %}

{% block content %}
{% with data=view.get_data %}
{% with month=view.month %}

<h1>Planner</h1>

<hr>

<h2 style="width: 400px;" class="mx-auto">
  <a class="btn btn-outline-secondary btn-sm rounded-circle"
     href=".?go={{ month.prev }}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Previous' %}">
    <span class="fas fa-caret-left" />
  </a>
  <span>{{ month.title }}</span>
  <a class="btn btn-outline-secondary btn-sm rounded-circle"
     href=".?go={{ month.next }}"
     data-toggle="tooltip" data-placement="right"
     title="{% trans 'Next' %}">
    <span class="fas fa-caret-right" />
  </a>
</h2>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col" />
      {% for day in month.days %}
      <th scope="col">{{ day|stringformat:'02i' }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% with batches=data.1 tanks=data.0 %}
    {% for tank, tdata in tanks.items %}
    <tr>
      <th scope="row">{{ tank }}</th>
      {% for day, ddata in tdata.items %}
      {% if ddata.0 %}
      <td style="background-color: {{ ddata.1 }}">
      </td>
      {% else %}
      <td></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    {% endwith %}
  </tbody>
</table>

<dl class="row">
  {% with batches=data.1 %}
  {% for batch, color in batches.items %}
  <dt class="col-sm-1">
    <div style="width: 20px; height: 20px; background-color: {{ color }}"></div>
  </dt>
  <dd class="col-sm-11">
    <a href="{{ batch|detail_url }}">{{ batch }}</a>
  </dd>
  {% endfor %}
  {% endwith %}
</dl>

{% endwith %}
{% endwith %}
{% endblock %}
