{% extends 'base_detail.html' %}

{% load i18n ninkasi_tags %}

{% block extra_actions %}
{% if user|push:object|has_obj_perm:'manage' %}
<a class="btn btn-outline-success btn-sm"
   href="{% url 'create_batch' %}{{ object.pk }}"
   data-toggle="tooltip" data-placement="right" title="{% trans 'Add batch' %}">
  <span class="fas fa-plus" />
  <span class="fas fa-hashtag" />
</a>
{% endif %}
{% endblock %}

{% block content %}

{% if object.descr %}
<p>{{ object.descr }}</p>
{% endif %}

<dl class="row">
  <dt class="col-sm-3">Volume</dt>
  <dd class="col-sm-9">{{ object.volume }}</dd>
</dl>

<h2>{% trans 'Ingredients' %}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Unit' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for ingredient in object.list_ingredients %}
  <tr>
    <td>{{ ingredient.ingredient }}
      {% for cat in ingredient.ingredient.categories %}
      <span class="badge badge-pill badge-info">{{ cat }}</span>
      {% endfor %}
    </td>
    <td>{{ ingredient.amount }}</td>
    <td>{{ ingredient.unit }} </tr>
  {% endfor %}
  </tbody>
</table>


<h2>{% trans 'Schema' %}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Phase' %}</th>
      <th>{% trans 'Temperature (in &deg;C)' %}</th>
      <th>{% trans 'Duration' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for step in object.list_steps %}
  <tr>
    <td><span class="badge badge-pill badge-success">{{ step.phase }}</span></td>
    <td>{{ step.temperature }}</td>
    <td>{{ step.duration }} {{ step.get_duration_unit_display }}</td>
  </tr>
  {% endfor %}
  <tr>
    <th colspan="2" scope="row">{% trans 'Total' %}</th>
    <td>{{ object.get_total_duration }} {% trans 'Days' %}</td>
  </tr>
  </tbody>
</table>

{% sublisting 'Batches' object.list_batches 'batch' %}

{% endblock content %}
