{% extends 'base.html' %}

{% load ninkasi_tags i18n %}

{% block content %}

<h1>{% trans 'Shopping list' %}</h1>


<form action=""
      method="GET"
      class="form">

  {% csrf_token %}

  <div class="input-group mb-3">
    <input type="date" class="form-control" name="date"
	   id="date" aria-describedby="dateHelp">
    <button type="submit" class="btn btn-primary">
      {% trans 'Set end date' %}
    </button>
  </div>
</form>

{% with data=view.get_list %}
<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans 'Product' %}</th>
      <th scope="col">{% trans 'Amount' %}</th>
      <th scope="col">{% trans 'Stock' %}</th>      
      <th scope="col">{% trans 'Needed for' %}</th>
      <th scope="col">{% trans 'By date' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in data %}
    <tr>
      <td>{{ rec.material }}</td>
      <td>{{ rec.amount }}{{ rec.unit }}</td>
      <td>{{ rec.stock }}</td>
      <td>{{ rec.batch }}</td>
      <td>{{ rec.batch.start_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}

{% endblock %}
