{% load i18n %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if active_tab == 'details' %}
    <a class="nav-link active" href="#">{% trans 'Details' %}</a>
    {% else %}
    <a class="nav-link" href="{% url 'view' model='brew' pk=object.id %}">
      {% trans 'Details' %}
    </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_tab == 'checks' %}
    <a class="nav-link active" href="#">
      {% trans 'Checks' %}
    </a>
    {% else %}
    <a class="nav-link" href="{% url 'brew_qualitychecks' pk=object.id %}">
      {% trans 'Checks' %}
      {% if view.open_checks %}
      <span class="text-warning" data-lucide="triangle-alert"></span>
      {% elif view.faulty_checks %}
      <span class="text-danger" data-lucide="triangle-alert"></span>
      {% endif %}      
    </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_tab == 'measurements' %}
    <a class="nav-link active" href="#">
      {% trans 'Measurements' %}
    </a>
    {% else %}
    <a class="nav-link" href="{% url 'brew_measurements' pk=object.id %}">
      {% trans 'Measurements' %}
    </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_tab == 'tasks' %}
    <a class="nav-link active" href="#">
      {% trans 'Tasks' %}
    </a>
    {% else %}
    <a class="nav-link" href="{% url 'brew_tasks' pk=object.id %}">
      {% trans 'Tasks' %}
      {% if view.nr_of_tasks %}
      <span class="badge rounded-pill bg-danger">
	{{ view.nr_of_tasks }}
	<span class="visually-hidden">{% trans 'Open tasks' %}</span>
      </span>
      {% endif %}
    </a>
    {% endif %}
  </li>

</ul>
