{% load i18n ninkasi_tags %}

<section class="listing">

  <form class="form mb-2 listingfilter" method="POST">
    {% csrf_token %}
    <input type="text" class="form-control"
           placeholder="{% trans 'Filter' %}"
           name="query">
  </form>

  <ul class="list-group">
    {% for item in items %}
    <li class="list-group-item">

      {% icon item %}

      {% with url=item|detail_url %}
      {% if url|url_is_remote %}
      <a href="{{ url }}" target="_NEW">
	{{ item|safe }}
	<i class="fas fa-up-right-from-square"></i>
      </a>
      {% else %}
      <a href="{{ url }}">{{ item|safe }}</a>      
      {% endif %}
      {% endwith %}
      
      {% status item %}

      <div class="float-right">
        {% if user|push:item|has_obj_perm:'change' %}
        {% edit_action item %}
        {% endif %}
        {% if user|push:item|has_obj_perm:'delete' %}
        {% delete_action item %}
        {% endif %}
      </div>

      {% byline item %}

    </li>
    {% endfor %}
  </ul>
</section>
