{% load i18n bootstrap4 %}

<form action="
	      {% if step.steplog %}
	      {% url 'inline_edit' 'step' step.id 'steplog' step.steplog.id %}
	      {% else %}
	      {% url 'inline_create' 'step' step.id 'steplog' %}
	      {% endif %}"
      method="POST" 
      enctype="multipart/form-data"
      class="form inline">

  {% csrf_token %}
  {% bootstrap_form form %}

  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% trans 'Save' %}
  </button>
  <button type="button" class="btn btn-secondary"
	  data-dismiss="modal">{% trans 'Close' %}</button>  
  {% endbuttons %}
  
</form>
