{% load i18n ninkasi_tags %}

{% with details=task.get_details %}
<div class="alert
	    {% if task.is_done %}
	    alert-success
	    {% elif task.is_due %}
	    alert-danger
	    {% else %}
	    alert-info
	    {% endif %}
	    ">
  {% priority task %} <a href="{{ task|detail_url }}">
    {% if task.is_done %}
    <del>{{ task }}</del>
    <i class="fas fa-check"></i>
    {% else %}
    {{ task }}
    {% endif %}
  </a>

  {% if fmt != '' %}
  <div class="float-end">
    {% if fmt == 't' %}
    {{ task.get_deadline.time }}    
    {% elif fmt == 'd' %}
    {{ task.get_deadline.date }}    
    {% else %}
    {{ task.get_deadline }}
    {% endif %}
    {% if task.is_due and not task.is_done %}
    <i class="fas fa-exclamation-triangle"></i>
    {% endif %}
  </div>
  <div class="clearfix"></div>
  {% endif %}
</div>
{% endwith %}
